.filters {
	background-color: $dark;
	padding: 2em;
}

.filter {
	margin-bottom: 1em;
	position: relative;
	&__title {
		@include body-font();
		font-weight: 500;
		line-height: 1.6;
		color: #FFF;
		margin-bottom: 0.5em;
		width: 90%;
	}
	&__label {
		@include body-font();
		font-weight: 200;
		color: #FFF;
	}
	&__checkboxes {
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
	}
	&__checkbox {
		margin-bottom: 0.25em;
	}
	&__arrow {
		position: absolute;
		top: -0.5em;
		right: -1em;
		margin: 1em;
		cursor: pointer;
	}
}

.filters__search {
	position: relative;
	input {
		&::placeholder {
			color: $grey;
		}
		width: 100%;
		border-radius: 20px;
		padding: 1em 2em;
		border: 1px solid $grey;
		color: $grey;
	}
	&__icon {
		position: absolute;
		right: 1.25em;
		top: 0.6em;
		cursor: pointer;
	}
}