.roundel {
	width: 70vw;
	height: 70vw;
	position: relative;

	@media screen and (min-width: map-deep-get($breakpoints, 'md', 'breakpoint')) {
		width: 16rem;
		height: 16rem;
	}

	& > img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
}